/* Custom properties */
:root {
    --color-fondo: rgb(255, 255, 255);
    --color-fuente: rgb(0, 0, 0);
    --color-primario: #3B82F6;
    --color-secundario: #E14444;
    --border: solid 1px rgba(212, 212, 212, 0.8);
}

/* Estilos generales del documento */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.button {
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 8px;
    border: var(--border);
}

/* Estilos general del wrapper que envuelve la página */

.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos generales del header y el footer */

header {
    color: var(--color-fuente);
    padding: 15px;
    text-align: center;
    border-bottom: var(--border);
}

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-top: var(--border);
}

/* Mobile First */

    /* Estilos del header */

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .logotipo a {
        color: var(--color-fuente);
        font-size: 1.3rem;
        font-weight: 700;
    }

        /* Estilos del menú de navegación */

        .menu__navbar {
            display: none;
        }

        .menu__navbar ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        .menu__navbar li {
            margin-right: 10px;
        }

        .menu__navbar a {
            color: var(--color-fuente);
            font-size: 1.3rem;
        }

        .menu__icon {
            font-size: 1.5rem;
        }
 
    /* Estilos de la sección de contenido principal: main */
    
    .main {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    p {
        font-size: 1rem;
        color: var(--color-fuente);
        line-height: 1.3;
        max-width: 100%;
        margin-bottom: 20px;
    }
        
    /* Estilos de la primera sección: oferta */

    .section__oferta {
        margin-bottom: 20px;
    }

        .span__oferta {
            font-size: 1rem;
            font-weight: 700;
            color: var(--color-secundario);
            /* Transformar en display block para poder añadir un margin por debajo */
            display: block;
            margin-bottom: 10px;
        }

        .title__oferta {
            font-size: 2.2rem;
            color: var(--color-fuente);
            margin: 0;
            margin-bottom: 20px;
        }
    
        .container__imagen {
            position: relative;
            /* Position relative en el contenedor padre para poder colocar la etiqueta hijo en posicion absoluta */
            margin-bottom: 20px;
        }
    
        .container__imagen img {
            width: 100%;
            min-width: 390px;
            max-width: 390px;
            /*Tamaño máximo de la imagen cuando escale en diferentes dispositivos*/
        }

        /* Estilo para las etiquetas de color */

        .span__tag {
            display: inline-block;
            padding: 10px;
            color: #fff;
        }
    
        .span__tag--green {
            /* Posicionar la etiqueta "128gb" sobre la imagen */
            position: absolute;
            margin-top: 1rem;
            margin-left: 1rem;
            background: rgb(8, 192, 8);
        }
        
        .container__compra {
            display: flex; /* Flex row para situar los elementos al lado del otro */
            flex-direction: row;
            align-items: start;
            flex-wrap: nowrap; /* Para que los items se mantengan en una línea */
            gap: 30px;
            margin-bottom: 20px;
        }

            .precio__compra {
                font-size: 1.5rem;
                font-weight: 700;
            }

            .btn__compra {
                background-color: var(--color-primario);
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                padding: 0.5em;
                /*padding relativo al tamaño de fuente */
            }

        /* Posicionar los elementos de la lista en una línea con opción a salto de línea (wrap) */

        .lista__ventajas {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: start;
            max-width: 100%;
        }

        /* Posicionar los iconos y párrafos en una línea */

            .lista__ventajas li {
                display: flex;
                gap: 30px;
                flex-basis: calc(33.33% - 1rem);
                min-width: 50%;
            }

            .lista__ventajas i {
                font-size: 1.5rem;
                flex-shrink: 0;
            }

    /* Estilos de la sección accesorios recomendados */

    .section__recomendados {
        margin-bottom: 20px;
    }

    .title__recomendados {
        font-size: 2rem;
        color: var(--color-fuente);
        margin: 0;
        margin-bottom: 20px;
    }

    .cards__recomendados {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 80%;
        
        
    }

    .card {
        display: flex;
        flex-direction: column;   

        width: 100%;
        border: var(--border);
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .card img {
        width: 100%;
        min-width: 250px;
        margin: 20px auto;
    }

    .card h3 {
        margin-bottom: 10px;
    }

    .card span {
        margin-bottom: 20px;
    }

    /* Etiquetas de las cards */

         .span__tag--blue,
         .span__tag--red {
             border-radius: 5px;
    
         }
    
         .span__tag--blue {
             background-color: var(--color-primario);
         }
    
         .span__tag--red {
             background-color: var(--color-secundario);
         }


    /* Estilos de la sección sorteo */
    
    .section__sorteo {
        background: rgba(59, 130, 246, 0.1);
    }

    .wrapper__sorteo {
        padding: 30px;
    }

    .title__sorteo {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    #sorteo__form {
        min-width: 100%;
        margin-top: 30px;
    }

    .label {
        display: block; /*Posiciona la etiqueta y el campo en vertical con un salto de línea */
        margin-bottom: 5px;
    }

    .input {
        min-width: 100%;
        padding: 1.2em;
        border-radius: 10px;
        border: var(--border);
        margin-bottom: 15px;
        color: rgba(212, 212, 212, 0.8);
    }


    .btn__enviar {
        background-color: var(--color-primario);
        color: #fff;
        padding: 0.8em;

    }


/* Versión de escritorio */

@media screen and (min-width: 1024px) {

    /* Estilos del menú de navegación */

    .menu__navbar {
        display: flex;
        justify-content: space-between;

        min-height: 60px;
    }

    /* Mostrar el menú de navegación horizontalmente */

    .menu__navbar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu__navbar li a {
        padding: 20px;
        font-size: 1rem;
    }

    .menu__icon {
        /* Ocultar el icono en versión de escritorio */
        display: none;
    }

    .btn__contact {
        background-color: transparent;
        padding: 0.8em 0.2em;
    }
    

    /* Sección de oferta */

    .section__oferta {
        display: flex;
        gap: 40px;
    }

        .container__imagen {
            width: 50%;
        }

        .container__compra {
            width: 50%;
            max-width: 100%;
        }

    /* Sección de recomendados */

        .cards__recomendados {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-basis: 80%;
            gap: 20px;
        }

        .card {
            max-width: 25%;
            min-height: 400px;
        }

    /* Sección de sorteo */

    .section__sorteo {
        padding-top: 40px;
        min-height: 400px;
    }
    .wrapper__sorteo {
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

        .title__sorteo {
            font-size: 2.8rem;
        }

        .container__info {
            width: 55%;
        }

        .container__form {
            width: 35%;
        }
}




